<div class='p-3'>
  <%= link_to 'New Daily Menu', new_daily_menu_path, class: 'btn btn-outline-primary' %>
</div>
<div class='container-fluid'>
  <div class='row'>
    <% @daily_menus.each do |daily_menu| %>

      <div class='card col-4'>
        <div class='card-body'>
          <h5 class='card-title'><%= daily_menu.date %></h5>
          <div class='card-text'>
            <div class='mb-3'>Courses:</div>
            <% daily_menu.courses.each do |course| %>
              <div class='border rounded p-3 mb-3'>
                <p><%= course.name %> - <%= course.category.name %></p>
                <p>Price: $<%= daily_menu.pricings.find_by(course: course).final_price %> / 
                  <% if course.type == 'PortionBased' %>
                    1 Portion
                  <% else %>
                    <%= course.measurement.quantity%> <%= course.measurement.unit%> 
                  <% end %>
                 </p>
              </div>
            <% end %>
            <%= link_to 'Edit daily_menu', edit_daily_menu_path(daily_menu) %>
            <%= link_to 'Delete daily_menu', daily_menu_path(daily_menu), method: :delete %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>