<%= form_with model: @course, url: courses_path do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :category, value: 'Choose a category for the course' %>
    <%= f.select(:category_id, Category.all.collect { |c| [c.name, c.id] }, {}, {class: 'form-control'}) %>
  </div>


  <div class='form-group'>
    <%= f.label :type %>
    <%= f.select(:type, [['Weight-based', 'WeightBased'], ['Portion-based', 'PortionBased']], {}, {class: 'form-control'}) %>
  </div>

  <div class='form-group'>
    <%= f.label :weight %>
    <%= f.number_field :weight, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :portion %>
    <%= f.number_field :portion, class: 'form-control' %>
  </div>

  <div class='form-group weight-ratio-group'>
    <%= f.label :weight_ratio, value: 'Weight Ratio (in grams)' %>
    <p class='font-weight-light'> Define how much weight for the ratio (e.g. 100g and choose 2 under price ratio for a final price of 100 * 2 ($200)<p>
    <%= f.number_field :weight_ratio, class: 'form-control' %>
  </div>

  <div class='form-group portion-ratio-group d-none'>
    <%= f.label :portion_ratio %>
    <p class='font-weight-light'> Define how much portion for the ratio (e.g. 5 portions and choose 0.5 under price ratio for a final price of 5 * 0.5 ($2.5)<p>
    <%= f.number_field :portion_ratio, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :price_ratio, value: 'Price ratio (in percentage)' %>
    <%= f.number_field :price_ratio, precision: 2, class: 'form-control' %>
  </div>



  <%= f.submit 'Create', class: 'btn btn-primary' %>

<% end %>
